<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 5: Motores de plantillas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Desafio 5: Motores de plantillas</h1>
    <h4>Ingrese Producto</h4>
    <form action="/productos" method="post">
      <label for="name"><i><strong>Nombre</strong></i></label></br>
      <input type="text" name="name" placeholder="Por ej: Calculadora" required></br>
      <label for="price"><i><strong>Precio</strong></i></label></br>
      <input type="text" name="price" placeholder="Por ej: 123.45" required></br>
      <label for="URL"><i><strong>Foto URL</strong></i></label></br>
      <input type="text" name="URL" placeholder="Por ej: 123.45" required></br>
      <button type="submit">Enviar</button></form><br>
    </form>
    <a href="/productos">Ver productos cargados</a>
  </body>
</html>
