<section id="loginSection">
    <div class="formLogin">
        <h1>Login de Usuario</h1>
        <form action="/login" method="post" id="formLogin">
            <label for="user"><i><strong>Ingrese su Nombre</strong></i></label>
            <input type="text" name="user" id="user" required><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</section>