<section id="loginSection">
    <div class="formLogin">
        <h1>Login de Usuario</h1>
        <form action="/login" method="post" id="formLogin">
            <label for="email"><i><strong>Ingrese su Email</strong></i></label>
            <input type="email" name="email" id="email" required><br>
            <label for="password"><i><strong>Ingrese su Contraseña</strong></i></label>
            <input type="password" name="password" id="password" required><br>
            <button type="submit">Login</button>
        </form>
    <hr>
    <a href="/register">Registrarse</a>
    </div>
</section>