<section id="loginSection">
    <div class="formLogin">
        <h1>Registro de Usuario</h1>
        <form action="/login" method="post" id="formLogin">
            <label for="user"><i><strong>Ingrese su Nombre</strong></i></label>
            <input type="text" name="user" id="user" required><br>
            <label for="password"><i><strong>Ingrese su Contraseña</strong></i></label>
            <input type="password" name="password" id="password" required><br>
            <button type="submit">Registrarse</button>
        </form>
    <hr>
    <a href="/login">Loguearse</a>
    </div>
</section>