<section id="loginSection">
    <div class="formLogin">
        <h1>Registro de Usuario</h1>
        <form action="/register" method="post" id="formLogin">
            <label for="email"><i><strong>Ingrese su Email</strong></i></label>
            <input type="email" name="email" id="email" required><br>
            <label for="password"><i><strong>Ingrese su Contraseña</strong></i></label>
            <input type="password" name="password" id="password" required><br>
            <button type="submit">Registrarse</button>
        </form>
    <hr>
    <a href="/">Loguearse</a>
    </div>
</section>